In [ ]:
%maven com.h2database:h2:2.3.232
import java.sql.*;

Connection conn;
Class.forName ("org.h2.Driver"); 
conn = DriverManager.getConnection("jdbc:h2:mem:db;DB_CLOSE_DELAY=-1", "sa", "");
conn

In [ ]:
try (Statement statement = conn.createStatement()) {
 statement.executeUpdate(
    "CREATE TABLE from_sql (" +
    " id INTEGER NOT NULL," +
    " ko_id VARCHAR," +  
    " PRIMARY KEY(id) )"
    );
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
try (PreparedStatement preparedStatement = conn.prepareStatement("INSERT INTO from_sql VALUES (?, ?)")) {
  String[] param = new String[]{"1326668","1322993","1321143","1325163","1325257","1325227","1320199","1265468","1323600","1326911","1326762","1321157","1323020","1325165","1325217","1324954","1326346","1320737","1324955","1323018","1324953","1325373","1326602","1326587","1325235","1325372","1325167","1325378","1325256","1324411","1323279","1325252","1325567","1325565","1325223","1319809","1326391","1325639","1325229","1325395","1321128","1325754","1324979","1325377","1325261","1326912","1326741","1325759","1326737","1259086","1321988","1324384","1325123","1323277","1326591","1325564","1326592","1326597","1321929","1325320","1326660","1326345","1324930","1324863","1320187","1326964","1321132","1326322","1325446","1326600","1322702","1323016","1323281","1325213","1325318","1325161","1326989","1326882","1326764","1323455","1323161","1325192","1326553","1325159","1324957","1321159","1326325","1325406","1325224","1325164","1326976","1326952","1319837","1275547","1323121","1325053","1325198","1326667","1326670","1241282","1254121","1321925","1326747","1298111","1326774","1320202","1323456","1325669","1320913","1324956"};
  for (int i=0; i<param.length; i++) {
    preparedStatement.setInt(1, i);
    preparedStatement.setString(2, param[i]);
    preparedStatement.executeUpdate();
  }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
try (Statement statement = conn.createStatement()) {
 statement.executeUpdate(
    "CREATE TABLE ko_eq (" +
    " id INTEGER NOT NULL," +
    " ko_id VARCHAR," +  
    " PRIMARY KEY(id) )"
    );
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
try (PreparedStatement preparedStatement = conn.prepareStatement("INSERT INTO ko_eq VALUES (?, ?)")) {
  String[] param = new String[]{"1241282","1319809","1319837","1326762","1326741","1326882","1326911","1326774","1326602","1320187","1328543","1324411","1298111","1329250","1326747","1265468","1323600","1326964","1329214","1322702","1323456","1326989","1259086","1323279","1323016","1321925","1323281","1325759","1325164","1320202","1325161","1324979","1326346","1328552","1329451","1325639","1324863","1325256","1320737","1326322","1323455","1326325","1325377","1325261","1326976","1325252","1325257","1325224","1324930","1324957","1325395","1321929","1325235","1322993","1325372","1325167","1325406","1325163","1326345","1328918","1328541","1325227","1328964","1330846","1325378","1326737","1328917","1329251","1328914","1325229","1321132","1321143","1325217","1325198","1275547","1321159","1321157","1325754","1325192","1326587","1326592","1326660","1321128","1326667","1328609","1326952","1326912","1326600","1325565","1326591","1254121","1326553","1325564","1326668","1326597","1326764","1326670","1326391","1325223","1323551","1253596","1323556","1323550","1265103","1323540","1266590","1323560","1323552","1323545"};
  for (int i=0; i<param.length; i++) {
    preparedStatement.setInt(1, i);
    preparedStatement.setString(2, param[i]);
    preparedStatement.executeUpdate();
  }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
try (Statement statement = conn.createStatement()) {
 statement.executeUpdate(
    "CREATE TABLE ko_eq_not (" +
    " id INTEGER NOT NULL," +
    " ko_id VARCHAR," +  
    " PRIMARY KEY(id) )"
    );
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
try (PreparedStatement preparedStatement = conn.prepareStatement("INSERT INTO ko_eq_not VALUES (?, ?)")) {
  String[] param = new String[]{"1319153","1320021","1321095","1321930","1320610","1319932","1319915","1319918","1319910","1321910","1319936","1321912","1320196","1320288","1321100","1319999","1242361","1325567","1321106","1322009","1329215","1321093","1320002","1320974","1321915","1321914","1321919","1321903","1321909","1321814","1222734","1321922","1321931","1282500","1321924","1325373","1322254","1319920","1321906","1321098","1321900","1319926","1323121","1325213","1320013","1319929","1324954","1325159","1323018","1324955","1320199","1321908","1319930","1321092","1320016","1278844","1330332","1321102","1321907","1321902","1321926","1321492","1321918","1320973","1320025","1321104","1274760","1326940","1324956","1321107","1321815","1320007","1328542","1328915","1300643","1325446","1325165","1324953","1340668","1320609","1325318","1325320","1323020","1321933","1321988","1321105","1323555","1323277","1261542","1321624","1321917","1325123","1325053","1321355","1321904","1319934","1249479","1321901","1303607","1341439","1321916","1320003","1321905","1319933","1303914","1317886","1301508","1321911","1284322","1281869","1325935","1321899","1324384","1321099","1325669","1320913","1274758","1326845","1279002","1271922","1279611","1323161","1274754","1219319","1253460","2000288","1301110","1279001","1328937","1327972","1333361","1300271","1274706","1345489"};
  for (int i=0; i<param.length; i++) {
    preparedStatement.setInt(1, i);
    preparedStatement.setString(2, param[i]);
    preparedStatement.executeUpdate();
  }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}

In [ ]:
// int countColumn;
// Map map = new HashMap();
ArrayList<Map> list = new ArrayList();
// list.add(map);
try (Statement statement = conn.createStatement()) {
    String sql = //"SELECT COUNT(ko_id) ko_id_count FROM from_sql"
        "SELECT DISTINCT ko_id ko_id_count FROM from_sql";
  ResultSet resultSet = statement.executeQuery(sql);
  // countColumn = rs.getMetaData().getColumnCount();
    while (resultSet.next()) {
        String ko_id = resultSet.getString("ko_id");
        Map map = new HashMap();
        map.put("ko_id", ko_id);
        list.add(map);
    }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}
list

In [ ]:
list = new ArrayList();
// list.add(map);
try (Statement statement = conn.createStatement()) {
  String sql = //"SELECT COUNT(ko_id) ko_id_count FROM from_sql"
      "WITH ko_u AS(SELECT ko_eq.ko_id " +
      "               FROM ko_eq " +
      "          UNION ALL " +
      "             SELECT ko_eq_not.ko_id " +
      "               FROM ko_eq_not) " +
      "SELECT ko_u.ko_id " +
      "   FROM ko_u JOIN from_sql ON ko_u.ko_id = from_sql.ko_id";
  ResultSet resultSet = statement.executeQuery(sql);
  // countColumn = rs.getMetaData().getColumnCount();
    while (resultSet.next()) {
        String ko_id = resultSet.getString("ko_id");
        Map map = new HashMap();
        map.put("ko_id", ko_id);
        list.add(map);
    }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}
list

In [ ]:
list = new ArrayList();
// list.add(map);
try (Statement statement = conn.createStatement()) {
  String sql = //"SELECT COUNT(ko_id) ko_id_count FROM from_sql"
      "WITH ko_u AS(SELECT ko_eq.ko_id " +
      "               FROM ko_eq " +
      "          UNION ALL " +
      "             SELECT ko_eq_not.ko_id " +
      "               FROM ko_eq_not) " +
      "SELECT ko_u.ko_id " +
      "  FROM ko_u LEFT JOIN from_sql ON ko_u.ko_id = from_sql.ko_id " +
      " WHERE from_sql.ko_id IS NULL ";
  ResultSet resultSet = statement.executeQuery(sql);
  // countColumn = rs.getMetaData().getColumnCount();
    while (resultSet.next()) {
        String ko_id = resultSet.getString("ko_id");
        Map map = new HashMap();
        map.put("ko_id", ko_id);
        list.add(map);
    }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}
list

In [ ]:
list = new ArrayList();
// list.add(map);
try (Statement statement = conn.createStatement()) {
  String sql = //"SELECT COUNT(ko_id) ko_id_count FROM from_sql"
      "SELECT ko_eq.ko_id " +
      "  FROM ko_eq LEFT JOIN  from_sql ON ko_eq.ko_id = from_sql.ko_id " +
      " WHERE from_sql.ko_id IS NULL " +
      "";
  ResultSet resultSet = statement.executeQuery(sql);
  // countColumn = rs.getMetaData().getColumnCount();
    while (resultSet.next()) {
        String ko_id = resultSet.getString("ko_id");
        Map map = new HashMap();
        map.put("ko_id", ko_id);
        list.add(map);
    }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}
list

In [ ]:
list = new ArrayList();
// list.add(map);
try (Statement statement = conn.createStatement()) {
  String sql = //"SELECT COUNT(ko_id) ko_id_count FROM from_sql"
      "SELECT ko_eq_not.ko_id " +
      "  FROM ko_eq_not LEFT JOIN  from_sql ON ko_eq_not.ko_id = from_sql.ko_id " +
      " WHERE from_sql.ko_id IS NULL " +
      "";
  ResultSet resultSet = statement.executeQuery(sql);
  // countColumn = rs.getMetaData().getColumnCount();
    while (resultSet.next()) {
        String ko_id = resultSet.getString("ko_id");
        Map map = new HashMap();
        map.put("ko_id", ko_id);
        list.add(map);
    }
} catch(SQLException se) { 
  se.printStackTrace(); 
} catch(Exception e) { 
  e.printStackTrace(); 
}
list

In [ ]:
conn.close();